.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main-header {
 text-align: center;
}

h1, h2, h3, h4 {
  margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

span {
  word-break: break-all;
  max-width: 100%;
}

a {
  margin-top: 2%;
}

input {
  margin: 3% 0 3%;
}

label {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.to-main-page-link {
  margin: 2% 0 2%;
}

#root {
  width: 70%;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sorting-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hint {
  color: #7e84f8
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition-duration: 0.3s;
  transition: background-color #7e84f8 ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, all 0.3s ease-in-out
}

.btn:hover {
  cursor: pointer;
}

.restaurant-item, .main-form, .menu-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px #cecece solid;
  border-radius: 15px;
  padding: 2% 3% 2%;
}

form.menu-form {
  width: 70%;
}

.restaurant-item__delete-button {
  align-self: flex-end;
}

.restaurant-item__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.restaurant-item__name, .restaurant-item__address {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.restaurant-item__header {
  text-align: center;
}

.restaurant-item__footer, .restaurant-item__description, .restaurant-item__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}

.restaurant-item__edit-form {
  width: 70%;
}

div.restaurant-item__container {
  margin-top: 0;
}

.restaurant-text {
  text-align: center;
}

.menu-item {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px #cecece solid;
  border-radius: 15px;
  padding: 2% 3% 2%;
}

.menu-item__mark-buttons {
  justify-content: center;
}

.menu-item__central-column {
  align-self: flex-start;
  justify-content: space-between;
  width: 65%;
}

.menu-item__edit-form {
  width: 100%;
}

.menu-item__text {
  margin-top: 37px;
  width: 100%;
}

.menu-item__meal-mark, .menu-item__text, .menu-item__central-column, .menu-item__mark-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.food-form {
  margin: 0;
}

.form-control {
  display: block;
  width: 100%;
  padding: .175rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.menu-item__delete-button {
  align-self: flex-start;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
